html,
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Helvetica, sans-serif;
	background-color: #fafafa;
	color: #262626;
}

header {
	max-width: 935px;
	margin-left: auto;
	margin-right: auto;
	height: 198px;
	margin-bottom: 44px;
}

main {
	padding: 30px 20px 0;
	max-width: 935px;
	margin-left: auto;
	margin-right: auto;
}

#username {
	margin: 0 22px 0 0;
	padding: 0;
	font-size: 28px;
	line-height: 32px;
	font-weight: 300;
	content: initial;
}

#name {
	margin: 0;
	padding: 0;
}

.column {
	row-gap: 22px;
	display: flex;
	align-items: initial;
	justify-content: left;
	width: 100%;
	height: fit-content;
	flex-direction: column;
	flex-wrap: wrap;
}

.row {
	font-size: 14px;
	gap: 15px;
	width: 100%;
	display: flex;
	align-items: initial;
	justify-content: left;
}

.small {
	margin-top: 16px;
	margin-left: 8px;
	margin-right: 8px;
	gap: 0;
	justify-content: space-around;
	align-items: center;
}

.short {
	margin-top: 16px;
	margin-left: 8px;
	margin-right: 8px;
	justify-content: stretch;
	align-items: center;
}

.profile-header-button {
	border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
	background-color: transparent;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 600;
	padding: 5px 9px;
	text-align: center;
	text-transform: inherit;
	text-overflow: ellipsis;
}

#profile {
	height: 22px;
	width: 22px;
	object-fit: cover;
	position: relative;
	border-radius: 50%;
}

hr {
	border: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
}

.profile-header div:last-child button {
	background-color: transparent;
	border: none;
}

button.option {
	background-color: transparent;
	border: none;
}

button.wpO6b {
	background-color: transparent;
	border: none;
}

.topbar {
	background-color: #ffff;
	border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

.topbar-content {
	height: 54px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 935px;
	margin: auto;
}

.menu {
	display: flex;
	grid-gap: 10px;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: left;
}

.menu i {
	font-size: 1.5rem;
	color: #262626;
}

.input-container {
	width: 215px;
	align-items: stretch;
}

.input-container i {
	padding-top: 0.5rem;
	position: absolute;
	width: 100px;
	color: rgb(133, 133, 133);
	text-align: center;
}

.input-field {
	width: 100%;
	height: 28px;
	text-align: center;
}

#profile-image {
	height: 150px;
	width: 150px;
	object-fit: cover;
	position: relative;
	border-radius: 50%;
}

.profile-header {
	display: flex;
}

#profile-image-div {
	width: 291.67px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 30px;
}

.options {
	height: 53px;
	list-style: none;
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 28px;
	margin: 0 auto;
	padding: 0;
	justify-content: center;
	font-size: 12px;
	font-weight: 600;
	align-items: center;
	border-top: #dbdbdb solid 1px;
}

.options a > span {
	margin-left: 16px;
}

.options svg {
	fill: #262626;
}

.options a {
	text-decoration: none;
	color: #262626;
}

#images {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 28px;
	margin: 0 auto;
	flex-wrap: wrap;
}

.small-img {
	width: 293px;
	height: 293px;
	object-fit: fill;
	cursor: pointer;
	transition: all linear 0.4s;
}

.small-img:hover {
	filter: grayscale(100%);
	transform: scale(1.1);
}

#modal-bg {
	background-color: rgba(0, 0, 0, .7);
	width: 100%;
	height: 100%;
	position: absolute;
}

#modal-img {
	height: 600px;
	width: 480px;
	object-fit: fill;
}

#modal-aside {
	width: 335px;
	height: 600px;
	background-color: #ffff;
	position: relative;
}

#profile-image-small {
	height: 32px;
	width: 32px;
	object-fit: cover;
	position: relative;
	border-radius: 50%;
}

#likes {
	font-weight: bolder;
}

.modal-active #modal-img {
	transform: scale(1);
}

.modal {
	width: 100vw;
	height: 100vh;
	position: fixed;
	visibility: hidden;
	z-index: 1;
	opacity: 0;
}

.modal-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.modal-active {
	visibility: visible;
	opacity: 1;
}

#commentary {
	height: 18px;
	width: 100%;
	margin: 16px;
}
